body {
    font-family: 'Poppins', sans-serif;
    color: #3A0519;
    background-color: #fff;
    margin: 0;
}

.page-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px;
    background-color: #f9f9f9;
    top: 0;
    position: sticky;
}

.page-header .site-title {
    font-size: 24px;
    font-weight: 600;
}

.page-header .navigation-links {
    display: flex;

}

.page-header .navigation-links div {
    margin-left: 70px;
}

.page-header .navigation-links div a {
    text-decoration: none;
    color: #3A0519;
    font-weight: 500;
    display: inline-block;
}

.page-header .navigation-links div a:hover {
    background-color: #3A0519;
    color: #ffffff;
    padding: 30px;
    margin: -30px;
}

.section {
    padding: 40px;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.bg-image {}


#home {
    min-width: 100vh;
    background-color: #f0f0f0;
    background-size: cover;
    background-position: center;
}

#home::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: -1;
}

#infographs {
    background-color: #f9f9f9;
}

#articles {
    display: flex;
    background-color: #ffffff;
}

.article-box {
    display: flex;
    max-width: 100%;
    padding: 10px;
}

.card a {
    text-decoration: none;
}

.card {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: 20px;
    background-color:#3A0519;
    border-radius: 15px;
    height: 500px;
    width: 300px;
    margin: 10px;
    color: white;
}

.card img {
    height: 60%;
    border-radius: 10px;
    object-fit: cover;
}

#stories {
    background-color: #fff;
}

#about {
    background-color: #3A0519;
    color: white;
    position: relative;
    overflow: hidden;
    min-height: 300px;
}
    

.container {
    display: flex;
    align-items: center;
    width: 80%;
    max-width: 1200px;
}

.container .content {
    width: 50%;
    padding-right: 20px;
}

.container .content h1 {
    font-size: 36px;
    margin-bottom: 20px;
}

.container .content p {
    font-size: 18px;
    line-height: 1.6;
    margin-bottom: 30px;
}

.container .content .button {
    background-color: #3A0519;
    color: white;
    border: none;
    padding: 15px 30px;
    font-size: 18px;
    border-radius: 5px;
    cursor: pointer;
}

.container .image-container {
    display: flex;
    justify-content: center;
    width: 50%;
}

.container .image-container .image {
    max-width: 100%;
    border-radius: 10px;
}

.stats {
    display: flex;
    justify-content: space-around;
    padding: 30px;
    background-color: #e0e0e0;
    text-align: center;
    width: 80%;
    max-width: 1150px;
    margin-top: 50px;
    border-radius: 10px;
}

.stats .stat-item {
    font-size: 20px;
    font-weight: 600;
}

.stats .main-text {
    font-weight: bold;
    font-size: 35px;
    margin: 0px;
}


.page-footer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #3A0519;
    height:150px;
    color: white;
}

.stories-container {
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
}

.story-card {
    width: 30%;
    border: 1px solid #ccc;
    padding: 10px;
    text-align: center;
}

.story-image.placeholder {
    width: 100%;
    height: 350px;
    background-color: #ddd;
    margin-bottom: 10px;
}

.infographs-container {
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
}

.infograph-card {
    width: 30%;
    border: 1px solid #ccc;
    padding: 10px;
    text-align: center;
}

.infograph-image.placeholder {
    width: 100%;
    height: 200px;
    background-color: #ddd;
    margin-bottom: 10px;
}

@media (max-width: 768px) {
    .container {
        flex-direction: column;
        text-align: center;
    }

    .container .content {
        width: 100%;
        padding-right: 0;
        margin-bottom: 20px;
    }

    .container .image-container {
        width: 100%;
    }

    .container .content h1 {
        font-size: 28px;
    }

    .container .content p {
        font-size: 16px;
    }

    .card {
        width: 100%;
    }
}
