html {
    scroll-behavior: smooth ;
}

body {
    font-family: 'Poppins', sans-serif;
    color: #3A0519;
    background-color: #fff;
    margin: 0;
}



.page-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px;
    background-color:#3A0519;
    top: 0;
    position: sticky;
    color: white;
}

.page-header .site-title {
    font-size: 24px;
    font-weight: 600;
    text-align: center;
}

.page-header .navigation-links {
    display: flex;
    margin-right: 200px;
}

.page-header .navigation-links div {
    margin-left: 70px;

}

.page-header .navigation-links div a {
    text-decoration: none;
    font-weight: 500;
    display: inline-block;
    color: white;
    text-decoration: none;
}

.page-header .navigation-links div a:hover {
    background-color: #ffffff;
    color: #3A0519;
    padding: 30px;
    margin: -30px;
}

.section {
    padding: 40px;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    scroll-margin-top: 100px; 
}

#home {
    min-width: 100vh;
    background-color: #f0f0f0;
    background-size: cover;
    background-position: center;
    line-height: 1.1;
    background-image: url(smoking-home-white.png);
    color:#3A0519;
}



#benefits {
    background-color: #f9f9f9;
}

#benefits .container .content h1 {
    text-shadow: 0px 0px 10px white;
}

#articles {
    display: flex;
    background-color: #ffffff;
}

.article-box {
    display: flex;
    max-width: 100%;
    padding: 10px;
}


.card {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 15px;
    height: 500px;
    width: 300px;
    margin: 10px;
    color: #3A0519;
}

.card:hover {
    transform: translateY(-5px);
    transition:  0.3s;
    box-shadow: rgba(199, 199, 199, 0.16) 0px 1px 4px, rgb(107, 42, 42) 0px 0px 0px 3px;
}

#articles a {
    text-decoration: none;
}

.benefits-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    margin-top: 20px;
}

.benefit-card {
    background-color: #f9f9f9;
    border-radius: 15px;
    padding: 20px;
    text-align: center;

}

.benefit-card:hover {
    box-shadow: rgba(240, 46, 170, 0.4) 0px 5px, rgba(240, 46, 170, 0.3) 0px 10px, rgba(240, 46, 170, 0.2) 0px 15px, rgba(240, 46, 170, 0.1) 0px 20px, rgba(240, 46, 170, 0.05) 0px 25px;
    transition: all 0.2s;
    transform: translateY(-5px);
}

.benefit-icon {
    font-size: 30px;
    margin-bottom: 10px;
}

.benefit-card h3 {
    margin-bottom: 10px;
}

.benefit-card p {
    font-size: 14px;
}

.card img {
    height: 60%;
    border-radius: 10px;
    object-fit: cover;
}

#benefits {
    background-color: #f9f9f9;
}

.benefit-card {
    text-align: center;
    border: 1px solid #ddd;
    padding: 20px;
}

.benefit-icon {
    font-size: 40px;
    margin-bottom: 10px;
}

.benefit-card h3 {
    font-size: 18px;
    margin-bottom: 5px;
}

.benefit-card p {
    font-size: 14px;
}

.content-container {
    margin-left: 10%;
    margin-right: 10%;
}

#about {
    background-color: #3A0519;
    color: white;
    position: relative;
    overflow: visible;
    min-height: 300px;
}

.page-footer {
    background-color: #222;
    color: #fff;
    padding: 20px 0;
}

.footer-container {
    display: flex;
    justify-content: space-around;
    max-width: 1200px;
    margin: 0 auto;
}

.footer-column {
    width: 30%;
}

.footer-column h2 {
    border-bottom: 1px solid #fff;
    padding-bottom: 5px;
    margin-bottom: 10px;
}

.footer-column p {
    font-size: 14px;
    line-height: 1.6;
}

.footer-column ul {
    list-style: none;
    padding: 0;
}

.footer-column ul li {
    margin-bottom: 5px;
}

.footer-column ul li a {
    color: #fff;
    text-decoration: none;
}

.social-icons {
    margin-top: 15px;
}

.social-icon {
    display: inline-block;
    margin-right: 10px;
    color: #fff;
    font-size: 20px;
}

.social-icon img {
    width: 40px;
    height: 40px;
    vertical-align: middle;
}

.social-icons a:hover {
    opacity: 0.7;
}

.story-sharing {
    margin-top: 20px;
    text-align: center;
}

.story-sharing h2 {
    margin-bottom: 10px;
}

.story-sharing textarea {
    width: 80%;
    height: 150px;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.story-sharing .share-story-link {
    background-color: #007bff;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
    display: inline-block;
}

.feedback-link {
    display: inline-block;
    margin-top: 10px;
    padding: 8px 16px;
    background-color: #007bff;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    font-weight: bold;
}

.container {
    display: flex;
    align-items: center;
    width: 80%;
    max-width: 1200px;
}

.container .content {
    width: 50%;
    padding-right: 20px;
}

.container .content h1 {
    font-size: 36px;
    margin-bottom: 20px;
}

.container .content p {
    font-size: 18px;
    margin-bottom: 30px;
}

.container .content .button {
    background-color: #3A0519;
    color: white;
    border: none;
    padding: 15px 30px;
    font-size: 18px;
    border-radius: 5px;
    cursor: pointer;
}

.container .image-container {
    display: flex;
    justify-content: center;
    width: 50%;
}

.container .image-container .image {
    max-width: 100%;
    border-radius: 10px;
}

.stats {
    display: flex;
    justify-content: space-around;
    padding: 30px;
    background-color:#3A0519;
    text-align: center;
    width: 80%;
    max-width: 1150px;
    margin-top: 50px;
    border-radius: 10px;
}

.stats .stat-item {
    font-size: 20px;
    font-weight: 600;
    color: #ffffff;
    width: 20%;
}

.stats .main-text {
    font-weight: bold;
    font-size: 35px;
    margin: 0px;
    
}


.page-footer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #3A0519;
    height:150px;
    color: white;
}

.stories-container {
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
}

.story-card {
    width: 30%;
    border: 1px solid #ccc;
    padding: 10px;
    text-align: center;

}


.story-image.placeholder {
    width: 100%;
    height: 350px;
    background-color: #ddd;
    margin-bottom: 10px;
}


@media (max-width: 768px) {
    .page-header {
        padding: 10px;
    }

    body {
        width: 100%;
    }

    .page-header .site-title {
        margin-left: 0;
        margin-bottom: 0;
        text-align: center !important;
    }

    .page-header .navigation-links {
        display: none;
    }

    .page-header .navigation-links div {
        margin-left: 0;
        margin-bottom: 5px;
    }

    .container {
        flex-direction: column;
        text-align: center;
    }

    .container .content {
        width: 100%;
        padding-right: 0;
        margin-bottom: 20px;
    }

    .container .image-container {
        width: 100%;
    }

    .container .content h1 {
        font-size: 28px;
    }

    .container .content p {
        font-size: 16px;
    }

    .section {
        padding: 20px;
    }

    .container {
        width: 90%;
    }

    .container .content {
        width: 100%;
        padding-right: 0;
    }

    .content-container {
        margin-left: 5%;
        margin-right: 5%;
    }

    .container .content h1 {
        font-size: 24px;
    }

    .container .content p {
        font-size: 16px;
    }

    #articles {
        flex-direction: column;
    }

    .article-box {
        flex-direction: column;
        padding: 0;
    }

    .card {
        width: 100%;
    }

    .benefits-grid {
        grid-template-columns: repeat(1, 1fr);
        padding: 0;
    }

    .stats {
        flex-direction: column;
    }

    .stats .stat-item {
        width: 100%;
        margin-bottom: 10px;
    }

    .benefit-card {
        padding: 10px;
    }

    .content-container {
        margin-left: 2%;
        margin-right: 2%;
    }

    .footer-container {
        flex-direction: column;
        text-align: center;
    }

    .footer-column {
        width: 100%;
        margin-bottom: 20px;
    }

    #home .container {
        width: 100%;
        padding: 20px;
    }

    #home .content {
        width: 100%;
        text-align: center;
    }

    .page-header .navigation-links {
        flex-direction: column;
    }

    .page-header .navigation-links div {
        margin-left: 0;
    }

    .article-box {
        flex-direction: column;
    }

    .card {
        width: 100%;
    }
}